<%= form_with model:list, local:true do |f| %>
  <div class="form-group"><label>リストタイトル</label><br>
    <%= f.text_field :list_title, class: "form-control" %></div>
  <div class="form-group"><label>リスト説明文</label><br>
    <%= f.text_area :description, class: "form-control" %></div>

    <table>
      <% @list.movies.each do |movie| %>
        <% movie_user = movie.user %>
        <tr>
        	<td>・<%= movie.title %></td>
        	<% if current_user == movie_user %>
          	<td><%= link_to 'Destroy', list_movie_path(movie.list_id, movie.id), class: 'btn-sm btn-danger', method: :delete %></td>
        	<% end %>
        </tr>
      <% end %>
    </table>
  <div class="actions">
    <%= f.submit '完了', class: "btn btn-success col-xs-12" %>
  </div>
<% end %>