<div class="nested-fields">
  <div>
    <%= f.label :title, "映画タイトル" %>
    <%= f.text_field :title, class: "" %>
  </div>
  <div>
    <%= f.label :impression, "この映画について" %>
    <%= f.text_area :impression, class: "" %>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
</div>
<div>
  
</div>