<% list.reviews.each do |review| %>
  <% review_user = review.user %>
  <tr>
  	<td>
  		<%= link_to user_path(review_user), class: "user_#{review_user.id}" do %>
    		<div><%= attachment_image_tag review_user, :profile_image, size: "50x50", fallback: "no_image.jpg" %></div>
    		<div class="ml-3"><%= review_user.name %></div>
  		<% end %>
  	</td>
  	<td>
  	  <!--星評価-->
      <div id="star-rate-<%= review.id %>"></div>
      <script>
      $('#star-rate-<%= review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= review.rate %>,
      });
      </script>
  	</td>
  	<td><%= review.comment %></td>
  	<% if current_user == review_user %>
    	<td><%= link_to 'Delete', list_review_path(review.list_id, review.id), class: 'btn-sm btn-danger', method: :delete, local:true %></td>
  	<% end %>
  </tr>
<% end %>
