<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered category-table">
        <thead>
          <tr>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <%= link_to category.name, search_path('search[model]': "list", 'search[content]': category.id, 'search[how]': "match") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
	  </div>
	  <div class="col-md-8 offset-md-1">
	    <h2>Lists</h2>
	      <% @lists.each do |list| %>
          <div>
            <%= attachment_image_tag list, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
            <p>リストタイトル：<%= link_to list.list_title, list_path(list.id) %></p>
            <p>ジャンル：
              <% list.categories.each do |category| %>
						    <%= category.name %>
						  <% end %>
            </p>
            <!--星評価-->
             <div id="star-rate-<%= list.id %>">レビュー <%= list.reviews.count %> 件</div>
              <script>
              $('#star-rate-<%= list.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                // 平均点を算出し、round関数で切り上げ
                score: "<%= list.reviews.average(:rate).to_f.round(1) %>",
              });
              </script>
            <!--/星評価-->
            <p>リスト説明：<%= list.description %></p>
            <p>ユーザーネーム：<%= list.user.name %></p>
            <p>コメント数：<%= list.list_comments.count %></p>
            <p class="like-btn_<%= list.id %>"><%= render partial: "likes/like-btn", locals: { list: list} %></p>
          </div>
        <% end %>
	  </div>
  </div>
</div>


