<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered category-table">
        <thead>
          <tr>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <%= link_to category.name, search_path('search[model]': "list", 'search[content]': category.id, 'search[how]': "match") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
	  </div>
	  <div class="col-md-8 offset-md-1">
	    <h2>Lists</h2>
	      <% @lists.each do |list| %>
          <div>
            <%= attachment_image_tag list, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
            <p>リストタイトル：<%= link_to list.list_title, list_path(list.id) %></p>
            <p>ジャンル：
              <% list.categories.each do |category| %>
						    <%= category.name %>
						  <% end %>
            </p>
            <p>リスト説明：<%= list.description %></p>
            <p>ユーザーネーム：<%= list.user.name %></p>
            <p>コメント数：<%= list.list_comments.count %></p>
            <p class="like-btn_<%= list.id %>"><%= render partial: "likes/like-btn", locals: { list: list} %></p>
            <p class="favorite-btn_<%= list.id %>"><%= render partial: 'favorites/favorite-btn', locals: { list: list} %></p>
          </div>
        <% end %>
	  </div>
  </div>
</div>


