<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
	  </div>
	  <div class="col-md-8 offset-md-1">
	    <h2>Lists</h2>
	      <% @lists.each do |list| %>
          <div>
            <%= attachment_image_tag list, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
            <p>リストタイトル：<%= link_to list.list_title, list_path(list.id) %></p>
            <p>リスト説明：<%= list.description %></p>
            <p>ユーザーネーム：<%= list.user.name %></p>
            <p>コメント数：<%= list.list_comments.count %></p>
          </div>
        <% end %>
	  </div>
  </div>
</div>


