<div class="container">
  <div class="row">
  	<div class="col-md-3">
      <%= render 'users/info', user: @list.user %>
	  </div>
		<div class="col-md-8 offset-md-1">
				<div id="list_<%= @list.id %>", class="media mt-5 text_base">
				  <div class="d-flex mr-3"><%= attachment_image_tag @list, :image, size: "150x100", fallback: "no_image_yoko.jpg" %></div>
				  <div class="media-body">
            <h5 class="mt-0"><%= link_to @list.list_title, list_path(@list.id), class:"text_base" %></h5>
            <div>by <%= @list.user.name %></div>
            <% @list.categories.each do |category| %>
              <div class="badge badge-secondary">
                <%= category.name %>
              </div>
            <% end %>
              <div>
                <%= @list.description %>
              </div>
          </div>
				  <% if @list.user_id == current_user.id %>
				  <div>
          	<div>
          		<%= link_to "Edit", edit_list_path(@list.id), class: "btn-sm btn-block btn-success text-center edit_list_#{@list.id}" %>
          	</div>
          	<div class="mt-2">
          		<%= link_to "Delete", list_path(@list.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn-sm btn-danger 	destroy_list_#{@list.id}" %>
          	</div>
          </div>
          <% end %>
				</div>
        <hr width="100">
		    <table>
    		  <% @list.movies.each do |movie| %>
    		    <% movie_user = movie.user %>
    		    <tr>
    		    	<div class="mt-2">『　<%= movie.title %>　』</div>
    		    	<div class="mt-2 mb-5">　ー<%= movie.impression %></div>
    		    </tr>
    		  <% end %>
    		</table>

    		<div class="d-flex mt-5">
        	<div class="response like-btn_<%= @list.id %>"><%= render partial: "likes/like-btn", locals: { list: @list} %></div>
        	<div class="response favorite-btn_<%= @list.id %>"><%= render partial: 'favorites/favorite-btn', locals: { list: @list} %></div>
        	<div class="comments-count">コメント：<%= @list.list_comments.count %> 件</div>
        </div>

    		<br>
    		<hr width="100">
    			<h4>レビュー</h4>
    		<table class="reviews mt-5">
    			<%= render "lists/review", { list: @list, review: @review} %>
    		</table>
    		<!--評価機能-->
    		<%= form_with model: @review, url: list_reviews_path(@list.id), local: true do |f| %>
    			<!--評価するリストのid-->
    			<%= f.hidden_field :list_id, { value: @list.id} %>
    			<!--評価の星-->
    			<div class="form-group row mt-5" id="star">
  				  <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
  				  <%= f.hidden_field :rate, id: :review_star %>
  				  <%= f.text_area :comment, class:"form-control", placeholder: "評価と一緒にコメントを書く（星だけで評価もできます）" %>
  				</div>
  				<div>
  				  <!--評価javascript-->
  				  <script>
  				  $('#star').raty({
  				    size     : 36,
  				    starOff:  '<%= asset_path('star-off.png') %>',
  				    starOn : '<%= asset_path('star-on.png') %>',
  				    starHalf: '<%= asset_path('star-half.png') %>',
  				    scoreName: 'review[rate]', // Listモデルのrateカラムに値を保存する
  				    half: true, // ★半分ok
  				  });
  				  </script>
  				</div>
  				  <%= f.submit '評価する', class:"btn btn-secondary" %>

    		<% end %>
    		<hr width="100", class="">
    		<h4>コメント</h4>
    		<table class="list_comments mt-5">
    			<%= render partial: "lists/comment", locals: { list: @list, list_comment: @list_comment}, class:"mt-5" %>
    		</table>
    		<%= form_with model:[@list,@list_comment], remote:true do |f| %>
				  <div class="mt-5">
				    <%= f.text_area :comment, size:"80x5", placeholder: "コメントを書く" %>
				  </div>
				  <%= f.submit '送信', class:"btn btn-secondary"%>
				<% end %>
		</div>
  </div>
</div>