<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2><span>プロフィールを編集</span></h2>
        <%= form_with model: @user, local: true do |f| %>
        <div class="form-group"><label>プロフィール写真</label><br>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "form-control-file user-image" %></div>
        <div class="form-group"><label>名前</label><br><%= f.text_field :name, class: "form-control name col" %></div>
        <div class="form-group"><label>自己紹介</label></div><%= f.text_area :introduction, class: "form-control introduction col" %><br>
        <div class="form-group"><%= f.submit "完了", class: "edit_user#{current_user.id} btn btn-secondary" %></div>
        <% end %>
    </div>
  </div>