<div class="split-box left-box">
  <div class="mt-5"><%= link_to "Home", root_path, class: 'text-decoration-none text_base ml-5' %></div>
  <div class="col-sm-4 about_name_box">
    <p class="about_name text-center mt-5">Kan TAKAYAMA</p>
  </div>
</div>

<div class="split-box right-box">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h4 class="text_base">About "Bhind-Me"</h4>
      <p class="text_base mt-5">
        コロナ禍でおうち時間が長くなり、サブスクリプションの普及もあって、映画を見る機会が増えた今日この頃。<br><br>
        いつも同じようなオススメをしてくる機械じゃなくて、あなたのオススメが知りたい！<br><br>
        そう思ったのは、その人の<span class="emphasis">人生を作ってきた映画</span>はどんなものなのか知りたくなったから。<br><br>
        「某怪談語り部のオススメするホラー映画ってどんなものだろう。」<br>
        「最近結婚したあの友人が最近観たハッピーな映画を観て、自分もハッピーな気持ちになりたい！」<br><br>
        その人にしかできないオススメがきっとあるはず。<br><br>
        第７の芸術といわれる映画には、時間芸術も空間芸術も夢も詰まっている。<br>
        とか堅苦しいことは置いといて、あなたのオススメした１本が人の人生を変えるかもしれないし、<br>
        映画を見た後の抑えきれない気持ちを共有してみてもいいかもしれない。<br><br>
        「<span class="emphasis">面白い映画知らない？</span>」って聞かれた時、あなたの熱く語れるものをぜひここに。
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h4 class="text_base">About Logo</h4>
      <p class="text_base mt-5 text-center">
        <p class="text-center"><span class="about_logo">B</span>e<span class="about_logo">hind</span> <span class="about_logo">Me</span><br>（ その人の後ろにあるもの　⇒　その人を作ったもの　※今回の場合「映画」 ）</p>
        <p class="text-center"><span class="about_logo">B</span>ollywood <span class="about_logo">Hind</span>u <span class="about_logo">M</span>ovi<span class="about_logo">e</span><br> 自分に衝撃を与えたインド映画へのリスペクトも込めて。</p>
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h4 class="text_base">About Me</h4>
      <div class="row justify-content-center">
        <div class="about_img mb-5"><%= image_tag "IMG_3549 2.jpg", class:"about_pic mb-5 mt-5" %></div>
      </div>
      <p class="text_base mt-5">
        高山 寛 | Kan TAKAYAMA<br><br>
        1996年11月22日生まれ。<br>関西学院大学文学部文学言語学科ドイツ文学ドイツ語学専修卒。<br>
        大学卒業後、米国シアトルに半年留学。<br>
        自分が作ったものや自分が関わったもので人を助け、そこをポジティブでハッピーな空間にしたい
        と考え、エンジニアになるためにプログラミングを勉強中。<br>
        趣味は映画鑑賞、旅行、卓球、スポーツ観戦（特にMLBとNFL）。<br>
        MARVEL STUDIOSの作品（特にドクター・ストレンジとアイアンマンシリーズ）をこよなく愛していて、
        最近は流行りのA24に注目している。
      </p>
    </div>
  </div>

  <h4 class="mb-5 mt-5"><span>Contact Me at</span></h4>
  <div class="row justify-content-center mt-5">
    <div class="about_icon_box col-md-3 mt-5">
      <div class="row justify-content-center">
        <div class="mt-5 mb-3"><i class="far fa-envelope about_icon"></i></div>
      </div>
      <h5 class="text_base text-center">Mail</h5>
      <p class="text_base text-center mt-5 mb-5">
        kanstephentakayama@gmail.com
      </p>
    </div>
    <div class="about_icon_box col-md-3 mt-5">
      <div class="row justify-content-center">
        <div class="mt-5 mb-3"><i class="fab fa-instagram about_icon"></i></div>
      </div>
      <h5 class="text_base text-center">Instagram</h5>
      <p class="text-center mt-5 mb-5">
        <%= link_to '@kan_takayama', 'https://www.instagram.com/kan_takayama/',class:"text-decoration-none text_base" %>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="about_icon_box col-md-3 mb-5">
      <div class="row justify-content-center">
        <div class="mt-5 mb-3"><i class="fab fa-twitter about_icon"></i></div>
      </div>
      <h5 class="text_base text-center">Twitter</h5>
      <p class="text-center mt-5 mb-5">
        <%= link_to '@kant9612', 'https://twitter.com/kant9612',class:"text-decoration-none text_base" %>
      </p>
    </div>

    <div class="about_icon_box col-md-3 mb-5">
      <div class="row justify-content-center">
        <div class="mt-5 mb-3"><i class="fab fa-github about_icon"></i></div>
      </div>
      <h5 class="text_base text-center">Github</h5>
      <p class="text-center mt-5 mb-5">
        <%= link_to 'kant9612', 'https://github.com/kant9612',class:"text-decoration-none text_base" %>
      </p>
    </div>
  </div>

  <p class="text-center mt-5">&copy; 2021 Bhind-Me</p>
</div>