<% if user_signed_in? %>
<div class="container">
	<div class="row">
		<div class="col-md-3 offset-md-3">
			<%= link_to "マイページへ", user_path(current_user.id), class: "btn btn-md text_base btn_base" %>
		</div>
		<div class="">
			<%= link_to "映画リスト一覧へ", lists_path, class: "btn btn-md text_base btn_base" %>
		</div>
	</div>
	<div class="text_base mt-3">
		<h4 class="gnavi"><a href="#"><span class="text_base">POPULAR LIST</span><span class="text_base">人気ムービーリスト</span></a></h4>
			<% @lists.each do |list| %>
				<div class="top_rank mypage_list">
					<div class="media mt-3">
      		  <div class="d-flex m-3"><%= attachment_image_tag list, :image, size: "150x100", fallback: "no_image.jpg" %></div>
      		  <div class="media-body">
      		    <h5 class="mt-3"><%= link_to list.list_title, list_path(list.id), class:"text-decoration-none text_base" %></h5>
      		    <div>by <%= list.user.name %></div>
      		    <% list.categories.each do |category| %>
      		      <div class="badge badge-secondary">
      		        <%= category.name %>
      		      </div>
      		    <% end %>
      		      <div>
      		        <%= list.description %>
      		      </div>
      		  </div>
      		</div>
      		<div class="d-flex ml-3">
      		  <div class="response like-btn_<%= list.id %>"><%= render partial: "likes/like-btn", locals: { list: list} %></div>
      		  <div class="response favorite-btn_<%= list.id %>"><%= render partial: 'favorites/favorite-btn', locals: { list: list} %></div>
      		  <div class="response">コメント：<%= list.list_comments.count %> 件</div>
      		</div>
      	</div>
			<% end %>
			<div class="row justify-content-center mt-5">
				<div class="text-center">
      		<%= paginate @lists %>
				</div>
			</div>
	</div>
</div>
<% else %>
	<div id="screenbox", class="logo_box">
		<div id="screenimages">
			<div class="screenimage1"></div>
			<div class="screenimage2"></div>
			<div class="screenimage3"></div>
		</div>
		<p class="logo logo_top">Bhind-Me</p>
		<p class="logo_sub"><small>Movies make people happy</small></p>
	</div>
	<div class="row mt-5 mb-5 top_btn_box">
		<div class="col-sm-2 offset-sm-4">
			<%= link_to "ログイン", new_user_session_path, class: "btn btn-sm text_base btn_base" %>
		</div>
		<div class="col-sm-2">
			<%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-sm text_base btn_base" %>
		</div>
	</div>
	<div class="mt-5 mb-5">
		<h4 class="">How To Use<br><small>使い方</small></h4>
		<div id="how_to_use">
			<p class="text-center mt-5">
				自分が観た映画や観たい映画をリストにして投稿することができます。<br><br>
				<span class="emphasis">ジャンルに縛られない、自分だけのムービーリストに "ME" というジャンルをつけてください。</span><br><br>
				同じ映画を観た人や観たい人と繋がり、感想や意見を共有してみましょう。<br><br>
				観る映画に迷ったら、他のユーザーのムービーリストから今日観る映画や<br>
				次に見る映画を決めることもできます。<br><br>
				今日の気分でジャンルからムービーリストを検索することもできますし、<br>
				他の国のユーザーをフォローしておけば、よりローカルで<br>
				あまり知られていない素敵な映画を発見できるかもしれません。
			</p>
		</div>
	</div>
<% end %>