<!DOCTYPE html>
<html>
  <head>
    <title>Bhind-Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--font awesome の導入-->
    <script src="https://kit.fontawesome.com/cd1c031c48.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "skippr", :media => "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--faviconの設置-->
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body class="header bg_base text_base">
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <%= link_to "Bhind-Me", root_path, class: 'navbar-brand text_base logo' %>
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "MyPage", user_path(current_user.id), class:'nav-link text_base' %></li>
              <li class="nav-item"><%= link_to "Users", users_path, class: 'nav-link text_base' %></li>
              <li class="nav-item"><%= link_to "Lists", lists_path, class: 'nav-link text_base' %></li>
              <li class="nav-item"><%= link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-link text_base' %></li>
              <li class="nav-item"><%= render 'layouts/search' %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link text_base' %></li>
              <li class="nav-item"><%= link_to "About", home_about_path, class: 'nav-link text_base' %></li>
              <li class="nav-item"><%= link_to "sign up", new_user_registration_path, class: 'nav-link text_base' %></li>
              <li class="nav-item"><%= link_to "login", new_user_session_path, class: 'nav-link text_base' %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <p class="notice"><%= notice %></p>
      <!--スライドショーのため（rails用の書き方にする）-->
      <%= javascript_include_tag 'skippr.min', 'data-turbolinks-track': 'reload' %>
      <%= yield %>
      </div>
    </main>

  </body>
  <footer>
    <div class='container mt-5'>
      <div class='row mt-5'>
        <div class='mx-auto'>
          <p>Ⓒ 2021 Bhind-Me</p>
        </div>
      </div>
    </div>
  </footer>
</html>
