<!DOCTYPE html>
<html>
  <head>
    <title>Bhind-Me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--font awesome の導入-->
    <script src="https://kit.fontawesome.com/cd1c031c48.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "skippr", :media => "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--faviconの設置-->
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body class="header bg_base text_base">
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="" id="sp-menu">
            <div class="row justify-content-center">
              <div class="col-md-4 mt-5">
                <div class="text-center mt-5"><%= link_to "Bhind-Me", root_path, class: 'text_base logo menu_logo' %></div>
                <ul class="mt-5">
                <% if user_signed_in? %>
                  <li class="menu_item"><a href="#"><%= link_to "マイページ", user_path(current_user.id), class:'nav-link text_base' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "ユーザー", users_path, class: 'nav-link text_base' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "ムービーリスト", lists_path, class: 'nav-link text_base' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "新規投稿", new_list_path, class: 'nav-link text_base' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text_base' %></a></li>
                  <li class="menu_item"><%= render 'layouts/search' %></li>
                <% else %>
                  <li class="menu_item"><a href="#"><%= link_to "トップページ", root_path, class: 'nav-link text_base text-center' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "Bhind-Meについて", home_about_path, class: 'nav-link text_base' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "新規会員登録", new_user_registration_path, class: 'nav-link text_base' %></a></li>
                  <li class="menu_item"><a href="#"><%= link_to "ログイン", new_user_session_path, class: 'nav-link text_base' %></a></li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>

          <div id="hm-icon">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>

        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <% if user_signed_in? %>
        <div class="row justify-content-center">
          <div class="mb-5 mt-2"><%= link_to "Bhind-Me", root_path, class: 'text-decoration-none text_base logo menu_logo' %></div>
        </div>
      <% end %>
      <!--スライドショーのため-->
      <%= javascript_include_tag 'skippr.min', 'data-turbolinks-track': 'reload' %>
      <%= yield %>

    </main>

  </body>
  <footer id="footer">
    <p id="page-top"><a href="#">Page Top</a></p>
    <% unless current_page?(home_about_path) %>
      <p class="text-center mt-5">&copy; 2021 Bhind-Me</p>
    <% end %>
  </footer>
</html>
